#TitleName{
  position: relative;
  top: 50%;
  left: 25%;
  font-size: 400%;
  font-family: "Comic Sans MS", Times, serif;
}

#TitleUnderName{
  position: relative;
  top: 55%;
  left: 25%;
  font-size: 150%;
  font-family: "Comic Sans MS", Times, serif;
}
